.button.circle{
	border-radius: 100upx;
	background-color: rgba($color: #fff, $alpha: 0.8);
	color: #333;
	border: 0;
}

button.circle{
	border-radius: 100upx;
}
button.bottom{
	margin-left: 20upx;
	margin-right: 20upx;
	margin-top: 20upx;
}