@import "./theme.scss";

button,uni-button{
	margin: 0 2px;
	
	&[type=primary]{
		@include background-color;
	}
	
	&.circle{
		padding: 0px 40px;
		border-radius: 20px;
		
		&[size=mini]{
			padding: 0px 20px;
		}
		
		&[size=middle]{
			line-height: 2;
		}
	}
}

