@font-face {
  font-family: "iconfont"; /* Project id 1917551 */
  src: url('//at.alicdn.com/t/font_1917551_k7mksdhto9j.woff2?t=1632294155196') format('woff2'),
       url('//at.alicdn.com/t/font_1917551_k7mksdhto9j.woff?t=1632294155196') format('woff'),
       url('//at.alicdn.com/t/font_1917551_k7mksdhto9j.ttf?t=1632294155196') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tubiaozhizuomoban-:before {
  content: "\e613";
}

.icon-home:before {
  content: "\e630";
}

.icon-qianbao:before {
  content: "\e602";
}

.icon-dingdan:before {
  content: "\e61f";
}

.icon-bisaihuodong:before {
  content: "\e607";
}

.icon-wode:before {
  content: "\e603";
}

.icon-zuqiu-copy:before {
  content: "\e619";
}

.icon-rili:before {
  content: "\e60a";
}

.icon-jp-del:before {
  content: "\e617";
}

.icon-zhongjiangjilu:before {
  content: "\e62d";
}

.icon-tuijian:before {
  content: "\e63f";
}

.icon-changyong---:before {
  content: "\e60f";
}

.icon-guanlidating:before {
  content: "\e61a";
}

.icon-notice:before {
  content: "\e63c";
}

.icon-computer:before {
  content: "\e608";
}

.icon-apple:before {
  content: "\e6bc";
}

.icon-android:before {
  content: "\e609";
}
