@mixin primary-text-color {
	@include themify($themes){
	    color: themed('primary-color') !important;
	}
}

@mixin warning-text-color {
	@include themify($themes){
	    color: themed('warning-text-color');
	}
}

@mixin light-text-color {
	@include themify($themes){
	    color: themed('light-color') !important;
	}
}